parameters:
    level: max
    paths:
        - config
        - src
        - tests

    ignoreErrors:
        # Ignore symfony/config possible null values
        - '#Call to an undefined method Symfony\\.*::scalarNode\(\)#'
        - '#expects Symfony\\.*\\ArrayNodeDefinition, Symfony\\.*\\ArrayNodeDefinition|Symfony\\.*\\NodeDefinition#'

        # Ignore non-existing class used on purpose
        - '#Lcobucci\\DependencyInjection\\Behat\\Tests\\Test#'
