parameters:
    level: 7
    paths:
        - config
        - src
        - tests

    ignoreErrors:
        # Ignore symfony/config possible null values
        - '#Call to an undefined method Symfony\\.*::scalarNode\(\)#'
        - '#expects Symfony\\.*\\ArrayNodeDefinition, Symfony\\.*\\ArrayNodeDefinition|Symfony\\.*\\NodeDefinition#'

        # Ignore behat/behat missing type declaration
        - '#Method Lcobucci\\DependencyInjection\\Behat\\BuilderExtension::load\(\) has parameter \$config with no value type specified in iterable type array#'

        # Ignore non-existing class used on purpose
        - '#Lcobucci\\DependencyInjection\\Behat\\Tests\\Test#'
